/* HERO */

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: #ffffff;
  background: url('../img/carrossel-1\ 2.png') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

  .hero .linha{
    width: 18%;
    border: 4px solid #E0004D;
    margin-top: 10px;
  }
  
  .hero h1 {
    font-size: 80px;
    margin: 0;
  }


  /*SOBRE*/

  .sobre .container h1{
    color: #E0004D;
    font-weight: bold;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 40px;
  }

  .sobre .container p{
    font-size: 22px;
  }
  

  /*VIDEO*/

  .video{
    margin-top: 70px;
    background-color: #d8d8d8;
  }


  /*VALORES-CARDS*/

  .valores-cards {
  display: flex;
  justify-content: center;
  gap: 300px;
  flex-wrap: wrap;
  text-align: center;
  padding: 40px 0;
}

.valores-cards .card {
  padding: 30px;
  max-width: 300px;
  flex: 1 1 250px;
  background-color: #fdfaf5;
  border: none;
}

.valores-cards .card img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.valores-cards .card h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #E0004D;
  font-weight: bold;
}

.valores-cards .card .linha{
  width: 25%;
  border: 3px solid #00558C;
  margin-bottom: 10px;
}

.valores-cards .card p {
  font-size: 20px;
}